body {
  font-family: 'Lato', sans-serif; }

#main {
  height: 43em;
  width: 93em;
  background-image: url(../images/city-scape.jpg);
  background-size: cover;
  background-repeat: no-repeat; }
  #main .container :hover {
    color: #FFF;
    text-decoration: none; }
  #main .container .nav {
    padding-top: 4em; }
    #main .container .nav .pull-left {
      font-size: 2em;
      font-weight: bold;
      margin-left: 4em; }
      #main .container .nav .pull-left a.active {
        font-family: 'Squada One', cursive;
        text-transform: uppercase;
        color: #FFF;
        font-size: 1.2em;
        letter-spacing: 2px; }
    #main .container .nav .pull-right {
      margin-right: 8em;
      transform: translateY(10px); }
      #main .container .nav .pull-right a {
        color: #FFF;
        padding: 1em;
        font-weight: bold;
        font-size: 1.2em; }
  #main .container .title {
    text-align: center;
    color: #FFF; }
    #main .container .title p {
      font-size: 2em;
      padding: 4.8em 0 0; }
    #main .container .title h1 {
      font-size: 4.2em;
      text-transform: uppercase;
      padding-bottom: 1em;
      font-weight: bold; }
    #main .container .title .btn {
      color: #FFF;
      font-weight: bolder;
      border-radius: 3px;
      border-color: #FFF;
      padding: 0.5em 2.5em;
      border-width: 3px; }

#web-development .row {
  padding: 5em 9em 5em 12em; }
#web-development h2 {
  font-size: 3.4em; }
#web-development .web {
  font-weight: 100; }
#web-development p {
  line-height: 150%;
  font-size: 17px;
  font-weight: 100; }

#identity-branding {
  background-color: #FAFAFA; }
  #identity-branding .row {
    padding: 5em 11em 5em 11em; }
    #identity-branding .row .col-sm-8 {
      padding-left: 4em; }
  #identity-branding h2 {
    font-size: 3.4em;
    padding-bottom: 0.5em; }
  #identity-branding .light-font {
    font-weight: 100; }
  #identity-branding p {
    line-height: 150%; }
  #identity-branding img {
    margin-top: 3em; }

#features .container {
  padding: 7em 9em 5em 11em; }
#features .first {
  margin-left: -4em; }
#features .icon {
  margin-right: 1em; }
#features .col-sm-4 {
  margin-top: -1.5em; }
#features .row {
  margin-bottom: 0em; }
#features .middle {
  margin-bottom: 2em;
  margin-top: 2em; }

#awesome-clients {
  background-color: #FAFAFA; }
  #awesome-clients .container {
    padding: 5em 7em 5em 7em; }
    #awesome-clients .container .title h2 {
      font-size: 3.4em;
      text-align: center; }
    #awesome-clients .container .title p {
      text-align: center; }
    #awesome-clients .container .title .web {
      font-weight: 100; }
    #awesome-clients .container .row {
      padding: 1em 6em 1em 2em; }
      #awesome-clients .container .row .col-sm-8 {
        padding: 2em 1em 1em 3em;
        margin: 2em 0em 0em 0em;
        border: 2px solid #EEE; }
        #awesome-clients .container .row .col-sm-8 p.msg {
          font-size: 16px;
          line-height: 26px; }
        #awesome-clients .container .row .col-sm-8 p.client-details {
          color: #007AC8; }

#logo .container {
  padding: 3.5em 9em 3.5em 12em; }
#logo img {
  width: 11em;
  height: 2.8em;
  margin: 0 2em; }

#amazing-team {
  background-color: #181818;
  color: #FFF; }
  #amazing-team .container {
    padding: 5em 14em;
    text-align: center; }
    #amazing-team .container .title h2 {
      font-size: 3.4em; }
    #amazing-team .container .title .web {
      font-weight: 100; }
    #amazing-team .container .row {
      text-align: center;
      margin: 5em 0 3em; }
      #amazing-team .container .row h3 {
        font-size: 16px;
        font-weight: bold; }
      #amazing-team .container .row p {
        font-weight: 100; }
      #amazing-team .container .row i {
        border: 3px solid;
        border-radius: 50%;
        padding: 7px;
        font-size: 21px;
        margin: 0em 3px; }
    #amazing-team .container .description p {
      padding: 0em 8em;
      line-height: 26px; }

/*# sourceMappingURL=app.css.map */
