#amazing-team {
  background-color: #181818;
  color: #FFF;

  .container {
    padding: 5em 13em;
    text-align: center;
    p {
      color: #918F9B;
    }

    .title{
      h2 {
        font-size: 3.4em;
      }
      .web {
        font-weight: 100;
      }
      p {
        font-size: 1.2em;
      }
    }

    .boy {
      text-align: center;
      margin: 5em 0 3em;
      h3 {
        font-size: 16px;
        font-weight: bold;
      }
      p {
        font-weight: 100
       }
      i {
        border: 3px solid;
        border-radius: 50%;
        padding: 7px;
        font-size: 21px;
        margin: 0em 3px;
        width: 2em;
      }
    }

    .men {
      text-align: center;
      margin: 5em 0 3em;
      h3 {
        font-size: 16px;
        font-weight: bold;
      }
      p {
        font-weight: 100
       }
      i {
        border: 3px solid;
        border-radius: 50%;
        padding: 7px;
        font-size: 21px;
        margin: 0em 3px;
        width: 2em;
      }
    }

    .description {
      p {
        padding: 0em 8em;
        line-height: 26px;
      }
    }

  }
}
