#features {
  .container {
    padding: 7em 9em 5em 11em;
  }
  .first{
        margin-left: -4em;
  }
  .icon{
    margin-right: 1em;
  }
  h3 {
    font-size: 1.3em;
    font-weight: bold;
  }
  p {
    color: $p_font-color;
  }
  .col-sm-4 {
    margin-top: -1.5em;
  }
  .row {
    margin-bottom: 0em;
  }

  .middle {
    margin-bottom: 2em;
    margin-top: 2em;
  }
}
