#footer {
  background-color: #768FC5;
  color: #FFF;
  .container {
    padding: 4em 9em 1em 9em;
    .row {
      padding-bottom: 2em;

      .wish{
        h2 {
          font-size: 3.4em;
        }
        .web {
          font-weight: 100;
        }
      }

      p.msg {
        padding: 1em 0em 2em;
      }

      .row_1 {
        font-size: 1.3em;
        padding: 10px 0;

        i {
          margin: 2px;
          font-size: 1.5em;
        }
        span {
          position: relative;
          top: -3px;
        }

      }
      .form-horizontal {
        padding: 2em 0em 0em 1.5em;
        .form-group {
          margin-bottom: 2em;
        }
      }
      .checkbox {
        margin: -1em 0em;
      }

      .btn {
        padding: 0.5em 3em;
      }

      hr{
        border-top: 1px solid hsla(0, 1%, 65%, 0.6);
      }

    }
    .copyright {
      text-align: center;

    }

  }

}

#copyright {
  background-color: #768FC5;
}
