  #footer {
  background-color: $footer-color;
  color: #FFF;
  .container {
    padding: 4em 10em 1em;
    .row {
      padding-bottom: 2em;

      .wish{
        h2 {
          font-size: 3.4em;
        }
        .web {
          font-weight: 100;
        }
      }

      p.msg {
        padding: 2em 0em 1em;
      }

      .row_1 {
        font-size: 1.5em;
        padding: 13px 0;

        i {
          font-size: 1.5em;
        }
        span {
          position: relative;
          top: -6px;
          font-size: 15px;
        }
        .fa {
          width: 1.5em;
          text-align: center;
        }

      }
      .form-horizontal {
        padding: 2em 0em 0em 1.5em;

        .form-group {
          margin-bottom: 2em;
        }
      }
      .input {
        height: 50px;
      }
      .checkbox {
        margin: -1em 0em;
      }

      .btn {
        width: 100%;
        height: 3em;
        color: $footer-color;
        border: px solid white;
      }
    }
    hr{
      border-top: 3px solid rgba(238,238,238,0.09);
    }

    .copyright {
      text-align: center;

    }

  }

}

#copyright {
  background-color: $footer-color;
}
