#identity-branding {
  background-color: #FAFAFA;
  .row{
    padding: 5em 11em 4em 11em;
    .col-sm-8 {
      padding-left: 4em;
    }
  }

  h2{
    font-size: 3.4em;
    padding-bottom: 0.5em;
  }

  .light-font {
    font-weight: 100;
  }

  p {
    line-height: 150%;
    color: $p_font-color;
    margin-bottom: 2.2em;
  }

  img{
    margin-top: 3em;
  }
}
