
#main {
  height: 43em;
  width: 100%;
  background-image: url(../images/city-scape.jpg);
  background-size: cover;
  background-repeat: no-repeat;

  .container{

    :hover{
      color: $h_font-color;
      text-decoration: none;
    }

    .nav{
      padding: 4em 7em 0em 9.5em;

      .pull-left {
        font-size: 1.5em;
        font-weight: bold;
        a.active {
          font-family: 'Squada One', cursive;
          text-transform: uppercase;
          color: $h_font-color;
          font-size: 1.3em;
          letter-spacing: 2px;
        }
      }

      .pull-right {
        transform: translateY(10px);
        a {
          color: $h_font-color;
          padding: 1em;
          font-weight: bold;
          font-size: 1em;
        }
      }
    }

    .title{
      text-align: center;
      color: $h_font-color;
      p {
        font-size: 2em;
        color: $p_font-color;
        padding: 4.8em 0 0;
      }
      h1 {
        font-size: 4.2em;
        text-transform: uppercase;
        padding-bottom: 1em;
        font-weight: bold;
      }
      .btn {
        color: $h_font-color;
        font-weight: bolder;
        border-radius: 3px;
        border-color: #FFF;
        padding: 0.5em 2.5em;
        border-width: 3px;
      }
    }
  }

}
