#main {
  height: 90vh;
  background-image: url(../images/city-scape.jpg);
  background-size: cover;
  background-repeat: no-repeat;

  padding: 3em 0;

  .pull-left {
    font-size: 2em;
    font-weight: bold;
    margin-left: 4em;
  }

  a.active {
    font-family: 'Squada One', cursive;
    text-transform: uppercase;
    color: #FFF;
    font-size: 1.2em;
    letter-spacing: 2px;
  }

  .pull-right {
    margin-right: 8em;
    a {
      color: #FFF;
      padding: 1em;
      transform: translateY(10px);
      font-weight: bold;
      font-size: 1.2em;

    }
  }

  .title {
      text-align: center;
      color: #FFF;
      p {
        font-size: 1.5em;
        padding: 7em 0 0;
      }

      h1 {
        font-size: 3.5em;
        text-transform: uppercase;
        padding-bottom: 1em;
        font-weight: bold;
      }
      .btn {
        color: #FFF;
        border-radius: 3px;
        border-color: #FFF;
        padding: 0.5em 2.5em;
      }
  }

}
