#web-development {
  .row{
    padding: 5em 9em 5em 12em;
  }

  h2 {
    font-size: 3.4em;
    margin-bottom: 0.6em;
    }

  .web {
    font-weight: 100;
  }

  p {
    line-height: 150%;
    font-weight: 100;
    color: $p_font-color;
    margin-bottom: 2em;
  }
  .hub {
        margin-top: 2em;
  }
}
