#web-development {
  .row{
    padding: 5em 9em 5em 12em;
  }

  h2 {
    font-size: 3.4em;
    }

  .web {
    font-weight: 100;
  }

  p {
    line-height: 150%;
    font-size: 17px;
    font-weight: 100;
  }
}
